# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
.venv/
env.bak/
venv.bak/
.env

# Environment variable files
*.env

# macOS files
.DS_Store

# Windows files
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs and databases
*.log
*.sqlite3

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Python package files
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
__pypackages__/

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Temporary files
*.swp
*.swo
*~

# Sphinx documentation
docs/_build/

# PyInstaller
*.spec

# C extensions
*.so

# Static files cache (e.g., Flask)
instance/
.webassets-cache

# Anaconda
.conda/

# Ignore database migrations
migrations/

# Backup files
*.bak

# Other files
logs/
*.log

# Uncomment the following line if you have any secret configuration files
# config.ini

# Ignore all HTML files if not tracking them
# *.html
